
Test2/Test2/obj/Debug/net5.0/Daihoc_FPT_News.assets.cache
Test2/Test2/obj/Debug/net5.0/Daihoc_FPT_News.csproj.AssemblyReference.cache
Test2/Test2/obj/Debug/net5.0/Daihoc_FPT_News.GeneratedMSBuildEditorConfig.editorconfig
